<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>CyberShield Login</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/login.css') }}">

</head>

<body>

<div class="login-box">

    <h1>🛡 CyberShield Lab</h1>

    <p>Security Operations Platform</p>

    <form action="{{ url_for('login') }}" method="POST">

        <label>Username</label>

        <input
            type="text"
            name="username"
            placeholder="Enter Username"
            required>

        <label>Password</label>

        <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required>

        <button type="submit">

            Login

        </button>

    </form>

</div>

</body>

</html>
